<h1 style="text-align:center"> <u>About Page</u></h1>
<br/>
<h5 style="text-align:center">This is word counter website made by Ishan Biswas.</h5>

<h4><p style="text-align:center">Enter text in any language in the textbox and the word counter will count the number of words present in the text, along with it's frequency of occurence.</p></h4>


<br></br>
<p style="text-align:center"><a  href="{% url 'home' %}">Return Home</a></p>

<br/>

<h4 style="text-align:center">Email or Contact @ : ishanbiswas.3@gmail.com</h4>
